/**********************************
GENERAL
***********************************/

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: normal;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

a {
	color: #e09e0f;
}

nav a, nav a:visited {
	color: #ffffff;
}

nav a:hover {
	color: #e09e0f;	
}


div {
	display: block;
}

.center {
	text-align: center;
}


.separate-div {
	padding: 50px 0 50px 0;
	
	/* Colors */
	background: #E4DFBA;
}

h1 {
	font-size: 45px;
}

h2, h3, h4, h5 {
	font-size: 30px;
}

h2 {
	text-align: center;	
}

h2:after {
	border-bottom: 2px solid black;
	content: "";
	display: block;
	position: relative;
	top: 15px;
	width: 20px;
	z-index: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}

/* Hide the dividers for mobile */
h4 {
	display: none;	
}

h6 {
	font-size: 24px;	
}

/**********************************
HEADING & NAVI
***********************************/

header {
  margin: 0;
  width: 100%;
  
  /* Colors */
  background: black;
}

nav {
  display: block;
  text-align: center;
  margin: 0 0 0 -50px;
  
  /* Font Styling */
  color: #FFF;
  font-size: 24px;
}

#logo {
	padding: 0 50px 0 0;
}

nav ul {
  	list-style: none;
}

nav li {
	text-align: left;
	margin: 30px;
}

nav a {
	padding: 15px 0 0 0;
}

/**********************************
ARTICLE
***********************************/

article {
	/* border-bottom: #dfdfdf 1px solid; */
}

/**********************************
1: INTRO
***********************************/
#intro-div-img-bg {
	background-image: url(../img/school.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	-webkit-filter: grayscale(40%);
	-moz-filter: grayscale(40%);
	filter: grayscale(40%);

	left: 0;
	padding: 0;
	top: 0;
}

#intro-div-overlay {
	height: 955px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
	width: 100%;
	
	position: relative !important;
}

#intro-div-text {
	height: 955px;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
}

#inner {
	color: white;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	width: 1900px;
}

.dev-title {
	font-size: 30px;
	cursor: pointer; cursor: hand;
	display: block;
	
	padding: 0 10px 0 10px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 2px solid rgba(255, 255, 255, .2);
		
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
	
	-moz-transition: 400ms ease -moz-transform;
	-ms-transition: 400ms ease -ms-transform;
	-o-transition: 400ms ease -o-transform;
	-webkit-transition: 400ms ease -webkit-transform;
	transition: 400ms ease transform;
}

.dev-title:hover, .dev-title:active {
	background-color: rgba(0, 0, 0, 0.8);
}

.dev-title-active {
	/* Highlight the active title */
	background-color: rgba(0, 0, 0, 0.8);
	color: #e09e0f;	
}

.dev-content-wrap {
	padding: 50px 0 0 0%;
	
	/* Hide element with overflow */
	overflow: hidden;
}

.dev-content {
	/* Centering fixed, absolute elements */
	max-width: 800px;
	left: 0;
	right: 0;
	margin: 0 auto;
	/* */
	
	font-size: 24px;

	/* Non-changing CSS3 transition elements; establishes the base transition properties */
	position: absolute;
	
	/* Hide element with overflow */
	height: 300px;
	
	-moz-transition: 400ms ease -moz-transform;
	-ms-transition: 400ms ease -ms-transform;
	-o-transition: 400ms ease -o-transform;
	-webkit-transition: 400ms ease -webkit-transform;
	transition: 400ms ease transform;
	
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.hide-content {
	/* Sends the element downward, hiding it from the user */
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
	
	-moz-transform: translateY(200%) translateZ(0);
	-ms-transform: translateY(200%) translateZ(0);
	-o-transform: translateY(200%) translateZ(0);
	-webkit-transform: translateY(200%) translateZ(0);
	transform: translateY(200%) translateZ(0);
	
	-moz-transform: translate3d(0, 200%, 0);
	-ms-transform: translate3d(0, 200%, 0);
	-o-transform: translate3d(0, 200%, 0);
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}

.show-content {	
	/* Sends the element to its natural position, revealing it */
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
	
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/**********************************
ABOUTME:
***********************************/
article#aboutme {
	padding: 75px 0 50px 0;	
}

#aboutme-info {
	text-align: center;
}

#aboutme p {
	padding: 30px 0 0 0;	
}

/**********************************
SLIDER:
***********************************/

/*
.slide {
	color: black;
	background: #DFF8FF;
	
	padding: 25px 25px 100px 25px;
	
	height: 300px;
	
	text-align: center;
	
	overflow: hidden;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: background 300ms ease;
	-moz-transition: background 300ms ease;
	transition: background 300ms ease;
}

.slider-content {
	position: relative;
	
	height: 300px;
	
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
	
	-moz-transform: translateY(1000%) translateZ(0);
	-ms-transform: translateY(1000%) translateZ(0);
	-o-transform: translateY(1000%) translateZ(0);
	-webkit-transform: translateY(1000%) translateZ(0);
	transform: translateY(1000%) translateZ(0);
	
	-moz-transform: translate3d(0, 1000%, 0);
	-ms-transform: translate3d(0, 1000%, 0);
	-o-transform: translate3d(0, 1000%, 0);
	-webkit-transform: translate3d(0, 1000%, 0);
	transform: translate3d(0, 1000%, 0);
	
	-moz-transition: 400ms ease -moz-transform;
	-ms-transition: 400ms ease -ms-transform;
	-o-transition: 400ms ease -o-transform;
	-webkit-transition: 400ms ease -webkit-transform;
	transition: 400ms ease transform;
	
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

}

.slide:hover, .slide:active {
	color: white;
	background: #333;
	border: 1px solid thin #333;
}

.slide:hover .slider-content, .slide:active .slider-content {
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
	
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
	
	
#slider {
	padding: 0 0 100px 0;
}

*/

/**********************************
PROJECTS:
***********************************/
article#projects {
	background: #F9F9F9;
	padding: 75px 0 100px 0;
}

#projects-info > h2 {
	text-align: center;
}

#projects-info .col-md-6 {
	padding: 50px 0 0 0;
}

#projects-info .just-started {
	color: #F90;
}

.project-name, .project-status {
	display: inline;
}

.project-status {
	font-size: 14px;	
}

.project-langs {
	font-size: 14px;	
}

.project-title, .project-desc {
	font-size: 30px;
}

.project-desc {
	font-size: 24px;
}

.project-img {
	max-width: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


/**********************************
DIVIDER
***********************************/
#div-img-bg {
	background-image: url(../img/contact-border-img.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	max-height: 400px;

	left: 0;
	padding: 0;
	top: 0;
}

#div-overlay {
	height: 400px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.30);
	width: 100%;
	
	position: relative !important;
}

#div-text {
	height: 400px;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
}

#inner {
	color: white;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	width: 1900px;
}

/**********************************
CONTACT:
***********************************/

.contact-text {
	font-size: 18px;	
}

.contact-header {
	padding: 0 0 30px 15px;	
}

#contact {
	padding: 100px 0px 75px 0;
	
	color: black;
	background: white;
}

.contact-email-img {
	padding: 0 10px 0 0;
	max-width: 50px;
}

.contact-text > div {
	padding: 0 0 50px 0;	
}
/**********************************
FOOTER
***********************************/

.left {
	float: left;
}
.right {
	float: right;
}

footer {	
	padding: 30px 0 40px;
	background: black;
	color: white;
}

span.glyphicon {
    font-size: 3em;
}

/* Gly Color (from link) */
#go-top {
	color:#F90;
}

/**********************************
COLORS
***********************************/

/* Site Body */
body {
  background-color: #ffffff;
  color: #000000;
}

.img {
	background: #999
}

















