/**********************************
GENERAL
***********************************/

body {
  font-family: 'Merriweather Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

div {
	display: block;
}

.center {
	text-align: center;
}


.separate-div {
	padding: 50px 0 50px 0;
	
	/* Colors */
	background: #E4DFBA;
}

/**********************************
HEADING & NAVI
***********************************/

header {
  float: left;
  margin: 0;
  width: 100%;
  padding: 25px 0 20px 0;
  
  /* Colors */
  background: #333;
}

#logo, nav {
  display: inline-block;
  text-align: center;
  
  /* Font Styling */
  color: #FFF;
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
}

#logo {
	padding: 0 50px 0 0;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 15px 10px;
}

/**********************************
ARTICLE
***********************************/

article {
	border-bottom: #dfdfdf 1px solid;
}

/**********************************
TOP_HEADER
***********************************/

.div-header {
	background: #CCC;
	padding: 150px 0 80px 0;
	
	/* Text Styling */
	font-size: 120px;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}

/*
.div-header-img > img {
	margin: 0px auto;
	display: block;
	border: 0px;
	vertical-align: middle;
	
	max-width: 100%;
*/
}

/**********************************
1: MAJOR
***********************************/

article.#major {
	background: #D6D5B4	
}

.div-overlap-img {
	position: relative; 
   	width: 100%; /* for IE 6 */
}

/* image match width of parent */
.div-overlap-img > img {
	max-width: 100%;
	
	/* Filters */
	-webkit-filter: grayscale(1);
}

/* overlay text */
h2 {
   position: absolute;
   top: 2%;
   left: 0; 
   width: 100%; 
   
   color: white; 
   font: bold Helvetica, Sans-Serif; 
   font-size: 24px; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 30px 0px 30px 30px;
   line-height: 30px;
   text-align: left;
}

h3 {
   position: absolute; 
   top: 260px; 
   left: 0; 
   width: 100%; 
   
   color: white; 
   font: bold Helvetica, Sans-Serif; 
   font-size: 24px;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   text-align: left;
}


/**********************************
CONTACT:
***********************************/

.contact-header {
	padding: 0 0 30px 15px;	
}

#contact {
	padding: 100px 0px 100px 0;
	
	color: black;
	background: white;
}

.contact-email-img {
	padding: 0 10px 0 0;
	max-width: 50px;
}
/**********************************
FOOTER
***********************************/

.left {
	float: left;
}
.right {
	float: right;
}

footer {	
	padding: 40px 0 40px;
	
	background: #333;
	color: white;
}

/**********************************
COLORS
***********************************/

/* Site Body */
body {
  background-color: #ffffff;
  color: #000000;
}

.img {
	background: #999
}

/* Links */
a {
  color: #e09e0f;
}

/* Nav Link */
nav a, nav a:visited {
  color: #ffffff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #e09e0f;
}



















