/**********************************
GENERAL
***********************************/
body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a {
    color: #e09e0f;
}

div {
    display: block;
}

.center {
    text-align: center;
}

.separate-div {
    padding: 50px 0 50px 0;
	/* Colors */
    background: #E4DFBA;
}

h1 {
    font-size: 45px;
    text-align: center;
}

h2, h3, h4, h5 {
    text-align: left;
}

h2 {
    font-size: 30px;
    text-align: left;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0 10px 0;
}

/* Same as h1, but with left align */
h3 {
    font-size: 45px;
}

p {
    text-align: left;
    padding-bottom: 20px;
    font-size: 18px;
}

/* Hide the dividers for mobile */
h4 {
    display: none;
}

h5 {
    font-size: 24px;
    color: #266FBF;
}

h6 {
    font-size: 24px;
}

/**********************************
HEADING & NAVI
***********************************/

.navbar {
	margin-bottom: 0px;
}

/**********************************
FOOTER
***********************************/

.left {
    float: left;
}

.right {
    float: right;
}

footer {
    padding: 30px 0 40px;
    background: black;
    color: white;
}

span.glyphicon {
    font-size: 3em;
}

/* Gly Color (from link) */
#go-top {
    color: #F90;
}

/**********************************
COLORS
***********************************/

/* Site Body */
body {
    background-color: #ffffff;
    color: #000000;
}