/**********************************
PROJECTS:
***********************************/
article#projects {
	background: #F9F9F9;
	padding: 75px 0 100px 0;
}

div.project-img img {
	max-width: 100%;
	
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
