
@media screen and (min-width: 480px) {
/**********************************
HEADING & NAVI
***********************************/

header {
  padding: 10px 0 0 0;
}

nav li {
  display: inline-block;
  margin: 0;
}

nav a {
	padding: 15px 10px;
}

nav {
	margin: 0;
}

h1 {
	font-size: 60px;
}

.dev-title {
	border-radius: 6px;
}

.dev-title:hover {
	border: 2px solid rgba(224, 158, 15, 1);
}

header {
  position: fixed;
  z-index: 5;
}

@media screen and (min-width: 660px) {
/**********************************
HEADING & NAVI
***********************************/
/* Show the dividers for non-mobiles */
h3, h4, .dev-title {
	display: inline-block;
}

}
