
@media screen and (min-width: 480px) {
/**********************************
HEADING & NAVI
***********************************/

header {
  padding: 10px 0 0 0;
}

nav li {
  display: inline-block;
  margin: 0;
}

nav a {
	padding: 15px 10px;
}

nav {
	margin: 0;
}
}

@media screen and (min-width: 660px) {
/**********************************
HEADING & NAVI
***********************************/

header {
  position: fixed;
  z-index: 5;
}

}
